/* IRANYekanX Font Family - Farsi Numerals */

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src: url('/fonts/iranyekan/IRANYekanXFaNum-ExtraBlack.woff2') format('woff2');
}
